.card{
    border: 2px solid #1ba2f6;
    border-radius: 20px;
    text-decoration: none;
}
.badge{
    top:19px;
    right: 20px;
    font-size: 17px;
    text-decoration: none;
}
.name{
    top: 50px;
    right: 50px;
    font-size: 17px;
    text-decoration: none;
}